.home {
}

.header{
    padding-top: 71px;
    padding-bottom: 91px;
    padding-right: -10px;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url('../../assets/images/home-big.png');
    background-position: right top;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    padding-left: 10px;

    filter: drop-shadow(19px 1px 3px rgba(0, 0, 0, 0.38));
    transform: matrix(1, 0, 0, 1, 0, 0);
    @media (max-width:1200px) {
        background-size: 55% 100%;
    }
    @media (max-width:850px) {
        background-size: 50% 100%;
    }
    @media (max-width:600px) {
        padding-top: 38px;
        background-size: 100% 40%;
        background-position: bottom;
    }
    .text{
        width: 40%;
        @media (max-width:600px) {
            width: 100%;
            padding-bottom: 200px;
        }
        .title{
            font-size: 60px;
            font-weight: 700;
            font-style: normal;
            color:#000;
            margin-bottom: 30px;
            @media (max-width:1200px) {
                font-size: 54px;
                line-height: 60px;
                margin-bottom: 26px;
            }
            @media (max-width:850px) {
                font-size: 44px;
                line-height: 51px;
                margin-bottom: 23px;
            }
            @media (max-width:350px) {
                font-size: 35px;
                line-height: 51px;
                margin-bottom: 23px;
            }
        }
        .desc{
            font-size: 18px;
            font-weight: 400;
            color:#000;
            line-height: 25.65px;
            margin-bottom: 45px;
            @media (max-width:850px) {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 31px;
            }
        }
        .btn_block{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            @media (max-width:600px) {
                margin-bottom: 26px;
            }
            button{
                padding: 21px 0;
                text-align: center;
                outline: none;
                background-color: #0075FF;
                border-radius: 70px;
                font-size: 16px;
                line-height: 22.8px;
                font-weight: 600;
                color:#fff;
                width: 209px;
                display: block;
                border:1px solid #0075FF;
                cursor: pointer;
                transition: all 500ms ease-in;
                margin-right: 20px;
                &:hover{
                    background-color: transparent;
                    color:#0075FF;
                }
                @media (max-width:1200px) {
                    width: 190px;
                }
                @media (max-width:850px) {
                    width: 177px;
                    padding: 20px 0;
                    font-size: 14px;
                    line-height: 19px;
                    margin-right: 22px;
                }

            }
            p{
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
                a{
                    color:#0075FF;
                    text-decoration: none;
                }
            }
        }
    }
}

.course_direction{
    .inner{
        background-color: #fff;
        border: 1px solid rgba(220, 220, 220, 1);
        border-radius: 37px;
        padding: 28px 46px;
        @media (max-width:1000px) {
            padding: 22px 40px;
        }
        @media (max-width:850px) {
            padding: 15px 30px;
            border-radius: 0;
            border-left: 0;
            border-right: 0;
        }
        @media (max-width:850px) {
            padding: 15px 10px;
        }
        .title{
            font-size: 28px;
            line-height: 68px;
            font-weight: 600;
            margin-bottom: 27px;
            @media (max-width:1000px) {
                margin-bottom: 24px;
            }
            @media (max-width:850px) {
                margin-bottom: 17px;
            }
         }
         .items{
             display: flex;
             justify-content: space-between;
             align-items: center;
             flex-wrap: wrap;
         }
    }
}
.item{
    width: 45%;
    margin-bottom: 31px;
    background: rgba(0, 0, 0, 0.03);
    padding:32px 0;
    padding-left: 41px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: background-color 500ms ease-in;
    cursor: pointer;
    @media (max-width:850px) {
        width: 48%;
        margin-bottom: 25px;
        padding-left: 35px;
    }
    @media (max-width:600px) {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 25px;
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .texts{
        div{
            background: rgba(67, 197, 158, 0.19);
            padding: 7px 11px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;
            margin-bottom: 18px;
            border-radius: 11px 11px 11px 0px;
            @media (max-width:850px) {
                margin-bottom: 11px;
            }
        }
        h4{
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            @media (max-width:850px) {
                font-size: 16px;
                line-height: 19.5px;
            }
        }
    }
    .logo{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80px;
            height: 100px;
            @media (max-width:850px) {
                width: 60px;
                height: 80px;
            }
        }
    }
}