.tests {
    max-width: 1300px;
    margin: 0 auto;
}

.head {
    margin-top: 92px;
    margin-bottom: 30px;

    @media (max-width:850px) {
        margin-top: 72px;
        margin-bottom: 17px;
    }

    @media (max-width:600px) {
        margin-top: 50px;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        @media (max-width:600px) {
            flex-direction: column;
            margin-bottom: 17px;
        }
    }

    &_text {
        font-size: 50px;
        line-height: 68px;
        font-weight: 700;
        color: #000;
        width: 60%;

        @media (max-width:1000px) {
            font-size: 40px;
            line-height: 52px;

        }

        @media (max-width:850px) {
            font-size: 32px;
            line-height: 48px;
        }

        @media (max-width:600px) {
            width: 100%;
        }
    }

    a {
        background-color: rgba(67, 197, 158, 0.11);
        padding: 12px 0;
        border: 1px solid rgba(67, 197, 158, 0.11);
        width: 256px;
        text-align: center;
        color: rgba(67, 197, 158, 1);
        border-radius: 24px;
        margin-top: 10px;
        text-decoration: none;
        font-size: 16px;

        &:hover {
            background-color: transparent;
            color: rgba(67, 197, 158, 1);
        }

    }
}

.item {
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 19px;
    padding: 38px 48px 143px;
    @media (max-width:850px) {
        padding: 33px 48px 140px;
    }

    @media (max-width:600px) {
        padding: 24px 28px 123px;
    }

    h2 {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000;
        margin-right: 60px;
        @media (max-width:850px) {
            margin-right: 80px;
        }
        @media (max-width:600px) {
            margin-bottom: 20px;
            margin-right: 50px;
        }
    }

    .form_block {
        margin-bottom: 15px;

        input {
            margin-right: 15px;
        }
    }

}

.swiper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 94px;
    padding: 0 10px;

    &_texts {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 87px;

        @media (max-width:600px) {
            flex-direction: column;
            margin-bottom: 26px;
        }

        p {
            width: 60%;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;

            @media (max-width:850px) {
                width: 50%;
            }

            @media (max-width:850px) {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }

    &_btns {
        display: flex;
        align-items: center;
    }

    &_btn {
        border: 1px solid rgba(0, 117, 255, 1);
        background-color: transparent;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 500ms ease;
        display: block;

        &.disabled {
            display: none;
        }

        path {
            fill: rgba(0, 117, 255, 1);
        }

        &:hover {
            background-color: rgba(0, 117, 255, 1);

            path {
                fill: #fff;
            }
        }
    }

    &_prev_btn {
        margin-right: 14px;

        svg {
            transform: rotate(90deg);
            width: 15px;
            height: 10px;
        }
    }

    &_next_btn {
        svg {
            transform: rotate(-90deg);
            width: 15px;
            height: 10px;
        }
    }

    &_inner {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 50px;
        background-color: blue;
    }

    &_block {
        margin: 0 auto;
        width: 100%;
        position: relative;
        .next{
            position: absolute;
            bottom: 30px;
            left: 48px;
            background-color: rgba(0, 117, 255, 1);
            padding: 22px 35px;
            color:#fff;
            font-size: 14px;
            line-height: 17px;
            z-index: 100;
            @media (max-width:850px) {
                left: 48px;
            }
            @media (max-width:600px) {
                left: 28px;
            }
        }
    }
}