.menu{
     display: block;
     z-index: 1000;
    .inner{
        position: fixed;
        transition: all 500ms ease-in-out;
        z-index: 100;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color:#fff;
        .header{
            padding: 40px 15px 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: auto;
                height: 22px;
            }
        }
        .items{
            padding-top: 20px;
            width: 100%;
            .item{
                text-align: center;
                font-size: 30px;
                display: block;
                line-height: 48px;
                color: #000;
                font-weight: 600;
                text-decoration: none;
                margin-bottom: 10px;
                &:hover{
                    background-color: rgba(249, 242, 250, 0.5);
                }
                @media (max-width:340px) {
                    font-size: 25px;
                    line-height: 36px;
                }
            }
        }
    }
    &.hide{
        .inner{
             transform: translateX(100%);
        }
    }
    &.active{
        .inner{
            transform: translateX(0%);
        }
    }
}