.footer{
    width: 100%;
    padding: 32px 0;
    .networks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 82px;
        flex-wrap: wrap;
        @media (max-width:600px) {
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 25px;
        }
        img{
            width: 40%;
            width: 132px;
            height: 28px;
            @media (max-width:600px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        &__items{
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width:600px) {
                justify-content: flex-start;
            }
          
        }
        &__item{
            margin-left: 15.3px;
            transition: all 500ms ease-in-out;
            @media (max-width:600px) {
                margin-left: 0;
                margin-right: 12px;
            }
            img{
                width: 36px;
                height: 36px;
                @media (max-width:1000px) {
                    width: 30px;
                    height: 30px;
                }
                @media (max-width:800px) {
                    width: 25px;
                    height: 25px;
                }
            }
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 33px;
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 33px;
        @media (max-width:600px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .left{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media (max-width:600px) {
                margin-bottom: 22px;
            }
            a{
                text-decoration: none;
                margin-right: 30px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                color:#000;
                &:hover{
                    color:red;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            cursor: pointer;
            span{
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                &:hover{
                    color:red;
                }
            }
            .circle{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-left: 9px;
                border:1px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 500ms ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
                svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright{
            color: rgba(0, 0, 0, 0.3);
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            @media (max-width:850px) {
                display: none;
            }
        }
        .links{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            
            a{
                color:#000;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                margin-left: 46px;
                text-decoration: none;
                margin-bottom: 20px;
                &:hover{
                    color:red;
                }
            }
            @media (max-width:850px) {
                width: 100%;
                justify-content: space-between;
                a{
                    &:first-child{
                        text-align: left;
                    }
                    &:last-child{
                        text-align: right;
                    }
                    margin-left: 0;
                }
            }
            @media (max-width:600px) {
                flex-direction: column;
                width: auto;
                a{
                    text-align: right;
                    margin-left: 0;
                    &:first-child{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
