*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
}

.container{
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.MuiBox-root-5{
  margin-bottom: 0 !important;
}

.swiper-pagination-fraction{
  position: absolute;
  padding: 17px 0 !important;
  border: 1px solid rgba(0, 117, 255, 1);
  height: 54px !important;
  width: 79px !important;
  left: auto !important;
  bottom: auto !important;
  right: 48px !important;
  text-align: center !important;
  z-index: 100;
  @media (max-width:600px) {
    font-size: 12px !important;
    padding: 10px !important;
    width: auto !important;
    height: auto !important;
    right: 20px !important;
  }
}