*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  // background-color: #e5e5e5;
  background-color: #fff;
}
.container{
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}